<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Pet Owners</title>
</head>
<body>
<h1 th:text="'List of owners'">List of pet owners...</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.getId()}">ID</td>
        <td th:text="${owner.getFirstName()}">First name</td>
        <td th:text="${owner.getLastName()}">Last name</td>
    </tr>
    </tbody>
</table>
</body>
</html>