<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List Of Pet Owners</title>
</head>
<body>
<h2 th:text="'List of owners'">List of pet owners...</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First name</th>
        <th style="width: 150px;">Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.getId()}">ID</td>
        <td th:text="${owner.getFirstName()}">First name</td>
        <td th:text="${owner.getLastName()}">Last name</td>
    </tr>
    </tbody>
</table>
</body>
</html>